<?xml version='1.0' encoding='utf-8'?>
<plugin id="voice" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

	<name>Voice</name>
	<license>MIT</license>
  
	<platform name="android">
		<hook type="before_plugin_install" src="hooks/copy_resources.js" />
		
		<edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
			<meta-data android:name="com.google.android.actions" android:resource="@xml/actions" />
		</edit-config>
	</platform>
	
</plugin>
