<?xml version='1.0' encoding='utf-8'?>
<plugin id="voice" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Voice</name>
  <license>MIT</license>

  <engines>
	<engine name="cordova" version=">=7.1.0"/>
	<engine name="cordova-android" version=">=8.1.0"/>
	<engine name="cordova-ios" version=">=5.1.1"/>
  </engines>

  <platform name="android">
	<hook type="before_prepare" src="hooks/copy_resources.js" />

	<config-file target="AndroidManifest.xml" parent="/manifest/application" mode="replace">
		<meta-data
			android:name="com.google.android.actions"
			android:resource="@xml/actions" />
	</config-file>
  </platform>
</plugin>
